/* Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=PT+Sans+Narrow:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: url("../images/iStock-1215808778.jpg") no-repeat center bottom/cover;
    font-family: "Jura", sans-serif;
    color: black;
    min-height: 100vh;
    margin: 0;
}

.game-area {
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 500px;
    max-width: 830px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.start-area {
    background-color: rgba(255, 255, 255, .9);
    height: 50%;
    padding: 20px;
    position: relative; /* Ensure relative positioning for z-indexing */
}

/* Style for the buttons */
.end-btn, .retake-btn, .start-btn {
    padding: 20px;
    font-weight: bold;
    color: rgba(37, 150, 190, 1);
    border: 2px solid rgba(37, 150, 190, 1);
    width: 45%; /* Ensure both buttons have the same width */
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Style for the retake button */
.retake-btn {
    top: 300px;
    display: none; /* Hide the retake button */
}

.end-btn {
    display: none;
}

/* Style for the start button */
.start-btn {
    top: 150px; /* Position in the center of the start area */
    color:rgba(37, 150, 190, 1);
    background-color:white;
}

/* Style for the username label */
.username-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: rgba(37, 150, 190, 1);
}

/* Style for the username input */
.username {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid rgba(37, 150, 190, 1);
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

.question-area {
    background-color: rgba(255, 255, 255, .9);
    color: black;
    height: 50%;
}

.scores {
    display: inline-block;
    padding: 0;
}

.answer-area {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.option-btn {
    padding: 10px;
    background-color: rgba(119, 199, 228, 1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-btn:hover {
    background-color: rgba(51, 171, 215, 1);
}

/* Add styles for correct and incorrect answers */
.option-btn.correct-answer {
    background-color: rgba(0, 255, 0, 0.3);
}

.option-btn.incorrect-answer {
    background-color: rgba(255, 0, 0, 0.3); 
}

#score {
    color: #2286AA;
    font-weight: bold;
}

#incorrect {
    color: rgba(255, 0, 0, 1);
    font-weight: bold;
}

.progress-container {
    width: 100%;
    background-color: #CCEAF5;
    border-radius: 25px;
    overflow: hidden;
    height: 20px;
    margin: 0;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #2593BB;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.5s;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .start-btn, .retake-btn {
        margin-top: 12%;
    }

    .start-btn {
        top: 100px; 
    }    
    .retake-btn {
    top: 200px;
    }
}

/* Larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .start-btn, .retake-btn {
        margin-top: 10%;
    }

    .retake-btn {
        top: 150px;
        }

    .progress-container {
        margin-top: 20px;
    }
}