/* Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=PT+Sans+Narrow:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: url("../images/stock1.jpg") no-repeat center bottom/cover;
    font-family: "Jura", sans-serif;
    color: black;
    min-height: 100vh;
    margin: 0;

}

.game-area {
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.start-area {
    background-color: rgba(255, 255, 255, .9);
    height: 50%;
}

.start-btn {
    padding: 20px;
    font-weight: bold;
    color: #2596be;
    border-color: #2596be;
    margin-top: 25%;
}

.question-area {
    background-color: rgba(255, 255, 255, .9);
    color: black;
    height: 50%;
}

.scores {
    display: inline-block;
    padding: 20px;
}

#score {
    color: #2596be;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    .start-btn {
        margin-top: 12%;
    }
}